<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liang.junxuan.bodymonitoring">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.EditUricAcid" />
        <activity android:name=".activities.EditBloodPressure" />
        <activity android:name=".activities.ViewBodyData" />
        <activity android:name=".activities.RecordUricAcid" />
        <activity android:name=".activities.RecordBloodPressure" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="liang.junxuan.bodymonitor.data.provider"
            android:name=".contentProvider.BMContentProvider"
            android:exported="false"/>

        <service android:name=".services.CityLocatorService" />
        <service android:name=".services.getLocalWeatherService"/>

        <receiver android:name=".broadcast.CityLocatedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CityLocatedBroadcast" />
            </intent-filter>
        </receiver>

        <meta-data android:name="Weather_Access_key"
            android:value="fbvwq8e9404pe5mb"/>
    </application>

</manifest>